<!DOCTYPE html>
<html>
<head>
    <title>Contact 3D Printing Website</title>
    <link rel="stylesheet" type="text/css" href="static/FAQ.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <a href="/home"><h1>Fuse</h1></a>
    <header>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li class="services-menu-item">
                    <a href="#">Services</a>
                    <ul class="dropdown-menu">
                        <li><a href="/text2image">Text to 3D</a></li>
                        <li><a href="/picTo3D">Image to 3D</a></li>
                        <li><a href="/prototyping">Prototyping</a></li>
                        <li><a href="/pdesign">Product Design</a></li>

                    </ul>
                </li>
                <li><a href="/market">Marketplace</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/FAQ">FAQ</a></li>
            </ul>
        </nav>
    </header>
    <main>
      <button class="accordion">Why are 3D printing services so expensive?</button>
      <div class="panel">
        <p>3D printing services can be expensive for a number of reasons. The prime factor is the cost of the equipment and materials needed for 3D printing. 3D printers can be expensive to purchase and maintain, and the cost of materials such as plastic or metal can vary depending on the type and quantity needed. </p>
        <p>At Fuse, we are committed to making 3D printing more accessible and affordable for everyone. We use advanced technology and AI to streamline the 3D printing process, which helps us keep costs down and pass the savings on to our customers. Additionally, we offer a range of pricing options and materials to suit different budgets and needs. Contact us today to learn more about how Fuse can help you bring your 3D printing ideas to life at an affordable price.</p>
      </div>
      
      <button class="accordion">How can I use Fuse to make my life easier?</button>
      <div class="panel">
        <p>Fuse can be used to make lives easier in a number of ways. Our platform streamlines the 3D printing process, allowing individuals to easily create custom 3D models and order 3D-printed products without ever having to touch a 3D printer. This can save individuals time and money, as they no longer have to spend hours learning how to use a 3D printer or purchasing expensive materials and equipment.</p>
        <p>For businesses, Fuse can make the prototyping process faster and more cost-effective. Traditional prototyping methods can be time-consuming and expensive, but with Fuse's advanced 3D printing technology and expertise in product development, businesses can create high-quality prototypes in a fraction of the time and cost.</p>
      </div>
      
      <button class="accordion">How does our pricing work?</button>
      <div class="panel">
        <p>Since we are currently in the beta, our pricing is not fixed</p>
        <p>As of right now we have decided to charge $0.50 for STL file downloads. In the future we integrate a 3D printing service that could help us streamline the process for you guys!</p>
      </div>

      <button class="accordion">How long does it take to receive my 3D-printed product after I place an order?
      </button>
      <div class="panel">
        <p>We do not currently have a printing service established. We are looking to integrate a printing service in the future as we are currently bootstrapped. If you are interested in funding please contact us.</p>
      </div>

      <button class="accordion">What is the process for working with Fuse on a prototyping project?</button>
      <div class="panel">
        <p>To work with Fuse on a prototyping project, you can expect the following process:</p>
        <p>1. Consultation to discuss your project goals, timeline, and budget.</p>
        <p>2. Design and prototyping, potentially with multiple iterations.</p>
        <p>3. Testing and evaluation of the prototype.</p>
        <p>4. Production support if you are satisfied with the prototype.</p>
        <p>Throughout the process, our team of experts will be available to provide guidance and support to ensure the success of your project. Contact us to learn more about how Fuse can help bring your ideas to life through our prototyping services.</p>
      </div>
    </main>
      <!-- JavaScript to toggle the 'active' class on the questions and answers -->        
        <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            }
          });
        }
        </script>
    <footer>
        <p>Copyright © 2023 - Fuse3D™</p>
    </footer>
</body>
</html>