<!DOCTYPE html>
<html>
<head>
    <title>Fuse3D</title>
    <link rel="stylesheet" type="text/css" href="static/picTo3D.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <a href="/home"><h1>Fuse</h1></a>
    <header>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li class="services-menu-item">
                    <a href="#">Services</a>
                    <ul class="dropdown-menu">
                        <li><a href="/text2image">Text to 3D</a></li>
                        <li><a href="/picTo3D">Image to 3D</a></li>
                        <li><a href="/prototyping">Prototyping</a></li>
                        <li><a href="/pdesign">Product Design</a></li>

                    </ul>
                </li>
                <li><a href="/market">Marketplace</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/FAQ">FAQ</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Create Your Own 3D Print</h2>
        <form action="/">
            <label for="image">Upload an image:</label>
            <input type="file" name="image" id="image">
            <input type="submit" value="Create" style="vertical-align:middle"></input>
        </form>
        {% if fileName %}
            <p>Your file is ready for download:</p>
            <a href="/download/{{ fileName }}" class="download-link">{{ fileName }}</a>
        {% endif %}
    </main>
    <footer>
        <p>Copyright © 2023 - Fuse3D™</p>
    </footer>
</body>
</html>
